<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnalyticsService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IReferenceDataService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tvppm-api.nlogic.ca/soap/2.0" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAnalyticsService"
                contract="NLogic.IAnalyticsService" name="BasicHttpBinding_IAnalyticsService" />
            <endpoint address="https://tvppm-api.nlogic.ca/soap/2.0" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReferenceDataService"
                contract="NLogic.IReferenceDataService" name="BasicHttpBinding_IReferenceDataService" />
        </client>
    </system.serviceModel>
</configuration>
